.header {
    background-color: rgb(46, 103, 228);
    padding: 0 20px;
    height: 8vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 160px;
        height: 40px;
        background: url("/src/assets/img/huawei_logo.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .time {
        font-size: 1.2rem;
        text-align: right;
        color: #e5e5e5;
    }
    .nav-bar {
        display: flex;
        justify-content: space-around;
        .nav-box {
            color: #e5e5e5;
            margin-right: 20px;
            padding-bottom: 6px;
            font-size: 1.1rem;
            cursor: pointer;
        }
        .select {
            border-bottom: 2px solid white;
            color: white;
        }
    }
}
