body {
    margin: 0;
    padding: 0;
}

.aside {
    background-color: rgb(148, 182, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
    .img {
        margin-top: 20px;
        padding: 20px;
        flex: 0.95;
    }
    .router-box {
        margin: 40px;
        padding: 10px 0;
        text-align: center;
        width: calc(100% - 40px);
        height: 40px;
        color: white;
        margin: 0 auto;
        border-bottom: 2px solid #e5e5e5;
        cursor: pointer;
        &:hover {
            .router-button {
                font-size: 1.4rem;
            }
            .icon {
                vertical-align: -0.23rem;
            }
            .nav-right {
                vertical-align: -0.08rem;
            }
        }
        /*禁用复制*/
        -moz-user-select: none; /* Firefox私有属性 */
        -webkit-user-select: none; /* WebKit内核私有属性 */
        -ms-user-select: none; /* IE私有属性(IE10及以后) */
        -khtml-user-select: none; /* KHTML内核私有属性 */
        -o-user-select: none; /* Opera私有属性 */
        user-select: none;
        .center {
            position: relative;
            height: 50px;
            top: 50%;
            transform: translateY(-50%);
        }
        .icon {
            font-size: 2rem;
            display: inline-block;
            margin-right: 14px;
            transition: vertical-align 0.2s;
        }
        .router-button {
            width: 70%;
            border: 0;
            text-align: left;
            outline: none;
            box-shadow: none;
            background-color: rgba(0, 0, 0, 0);
            font-size: 1.2rem;
            color: white;
            transition: font-size 0.2s;
            cursor: pointer;
        }
        .nav-right {
            display: inline-block;
            font-size: 1.4rem;
            vertical-align: -0.15rem;
            transition: vertical-align 0.2s;
        }
        &:last-child {
            border: none;
        }
    }
}

.main {
    background-color: #f7f8fa;
    height: 92vh;
}
